<h1>Welcome</h1>
<p>Welcome to the storyBooks 1.0.0</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse provident quae rerum, repellat, nobis odio quaerat, ex quia non officiis architecto pariatur delectus magnam aperiam debitis deserunt iure iste odit. </p>

{{#if user}}
{{else}}
  <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}